@mixin backgroundImage($image) {

    background: $image;
    background-position: center;  
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin flexBox($wrap:nowrap,$direction:row,$justify:flex-start,$align:stretch) {

    display: flex;
    flex-wrap: $wrap;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    
}

@mixin break($length) {

    @media (min-width:$length) {

        @content
        
    }
    
}