:root{

    --body-font: "Inter", sans-serif;
    --theme-bg: #1f1d2b;
    --body-color: #808191;
    --button-bg: #353340;
    --border-color: rgb(128 129 145 / 24%);
    --delay: 0s;
    --white: #fff;
    --orange: #ff7551;
    --blue: #32a7e2;
    --purple: #6c5ecf;
    

}


$blue: #32a7e2;