@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

/*! imports*/

@import "variables";
@import "global";
@import "functions";

#App{
    width:100%;
    height:100vh;
    max-width:100vw;
    max-height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: var(--theme-bg);
}

header{
    width: 100%;
    height: 80px;
    @include flexBox($justify:space-between,$align:center);
    background-color: var(--theme-bg);
    padding: 0rem 2rem;

    .header_search_bar{

        form {
        height: 34px;
        display: flex;
        width: 100%;
        max-width: 500px;
        input{
            width: 100%;
            height: 100%;
            border: none;
            border-radius: 8px;
            font-size: 14px;
            font-weight: 500;
            padding: 0 40px 0 16px;
            background-color: var(--button-bg);
            font-family: var(--body-font);
            box-shadow: 0 0 0 2px rgb(134 140 160 / 2%);
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
            background-size: 14px;
            background-repeat: no-repeat;
            background-position: 96%;
            color: #fff;
        }
    }

    }
    
    .header_icons{
        flex-basis: 50%;
    }

    .header_icons_list{
        @include flexBox($justify:flex-end,$align:center);
    } 

}

.main{
    width: 100%;
    height: 100%;
    @include flexBox($direction:column);

}

.sidebar{

    background-color: var(--theme-bg);
    padding-left: 2rem;
    width:20%;


    nav{
        @include flexBox($direction:column);

        .brand{
            width: 100%;
            height: 80px;
            margin: auto;
            color: white;
            display: flex;
            align-items: center;
            font-weight: 700;
            font-size: 24px;
        }

        ul{
            list-style-type: none;

            li a{
                margin: 1rem 0;
                @include flexBox($align:center);

                &:hover{
                    color: white;
                    font-weight: 600;
                    &:nth-child(1){
                        .iconify-icon{
                            background-color: var(--orange);
                            color: white;
                        }

                    }
                    &:nth-child(2) {
                        .iconify-icon{
                            background-color: var(--blue);
                            color: white;
                        }
                       }
                       &:nth-child(3) {
                        .iconify-icon{
                            background-color: var(--purple);
                            color: white;
                        }

                       }
                }

                .iconify_icon{
                    width: 30px;
                    height: 30px;
                    background-color: var(--button-bg);
                    @include flexBox($justify: center,$align:center);
                    border-radius: 8px;
                    margin-right: 1rem;

                    &:nth-last-of-type(2){
                        background-color: var(--orange);
                        color: white;

                    }

                    svg{
                        font-size: 18px;
                    }
                }

                

            }
            
        }

        
    }

    .side_title{
        text-align: left;
        font-size: 12px;
        text-transform: uppercase;
        margin: 1.5rem 0;
    }
}
.main_section{
    flex-basis: 80%;
    flex-grow: 1;
    overflow: auto;
    padding:2rem;


}



#Authentication{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    @include backgroundImage(url(https://images.unsplash.com/photo-1660551772352-0855c10356b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&q=80));

    form{
        width: 100%;
        height: 70vh;
        padding: 2rem;
        background-color: rgb(255 255 255 / 37%);
        @include flexBox($direction:column,$justify:center);
        border-radius: 8px;
        backdrop-filter: blur(30px);
        input{
            margin-bottom: 1rem;
            
        }
        label{
            color: var(--button-bg);
        }

        .btn{
            max-width: 150px;
            margin-top: 2rem;
        }

    }
}
.container{
    max-width: 400px;
    @include flexBox($align:center);
    height: 100%;
    margin: 0 auto;
}

input{
    width: 100%;
    outline: none;
    border: none;
    background-color: #ffffff75;
    border-radius: 8px;
    font-family: var(--body-font);
    font-size: 14px;
    padding: 0.8rem 0.5rem;
    font-weight: 500;
    color: var(--button-bg);

}


blockquote{
    background-color: #353340;
    max-width: 600px;
    margin: 1rem 0;
    border-radius: 8px;
    padding: 2rem 1rem;
}

.buttons{
    height: 30px;
    display: flex;
    justify-content: end;
}